.textBlock {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  position: relative;
  display: flex;
  align-self: center;
  min-width: 200px;
  max-height: 90vh;
  min-height: calc(90vh);
  height: calc(100%);
  z-index: 3;
}

.textBlock::before {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 10vw;
  width: 10vw;
  left: calc(50% + 12px);
  border-radius: 60px 0 0 0;
  box-shadow: -4vw -4vw 0px 4vw #5a5a5a;
  z-index: -1;
}

.textBlock::after {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 6vw;
  width: 6vw;
  bottom: 0;
  left: calc(100% + 12px);
  border-radius: 0 0 0 60px;
  box-shadow: -4vw 4vw 0px 4vw #5a5a5a;
  z-index: -2;
}

.text {
  height: calc(100%);
  width: 100%;
  align-self: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(6, 1fr);
  z-index: -1;

  filter: drop-shadow(0 -12px 0 #5a5a5a) drop-shadow(0 12px 0 #5a5a5a)
    drop-shadow(-4vw 0 0 #5a5a5a) drop-shadow(12px 0 #5a5a5a);
}

.connect {
  grid-column: 1 / 2;
  grid-row: 1 / 7;
  background-color: #d7d7d7;
  border-radius: 60px;
  display: flex;

  .conect_box {
    position: relative;
    top: 12px;
    left: 12px;
    background-color: #ff7846;
    height: calc(100% / 6 * 4 - 24px);
    width: calc(100% - 24px);
    border-radius: 42px;

    display: flex;
    flex-direction: column;
    align-items: center;

    a,
    div {
      width: auto;

      height: 15%;

      svg {
        height: 100%;
        width: auto;
        text-decoration: none;
        box-shadow: none;
        outline: none;
        color: white;
      }
    }
  }
}

.connect::before {
  content: "";
  position: absolute;
  background-color: transparent;
  height: calc(100% / 6);
  width: auto;
  aspect-ratio: 1/1;
  max-width: 25%;
  top: calc(100% / 6 * 3);
  border-radius: 0 0 0 60px;
  box-shadow: -3vh 3vh 0px 2vh #5a5a5a;
  z-index: 1;
}

.portfolio {
  grid-column: 2 / 3;
  grid-row: 4 / 7;
  background-color: #d7d7d7;
  border-radius: 0 60px 60px 60px;

  .portfolio_box {
    text-decoration: none;
    color: #fff;
    position: relative;
    top: calc(25% - 12px);
    left: 12px;
    background-color: #ff7846;
    height: calc(75% - 24px);
    width: calc(100% - 24px);
    border-radius: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .prof_photo {
      aspect-ratio: 1/1;
      width: 6vw;
      height: auto;
      border-radius: 50%;
      background-color: #d7d7d7;
    }
  }
}

.portfolio::before {
  content: "";
  position: absolute;
  background-color: transparent;
  aspect-ratio: 1/1;
  height: 30vh;
  min-height: 60px;
  width: auto;
  max-width: 25%;
  bottom: calc(100% / 6 * 3);
  border-radius: 0 0px 0 60px;
  box-shadow: -1vw 10vh 0 #d7d7d7;
  z-index: -1;
}

.date {
  align-self: flex-end;
  height: calc(100% - 36px);
  width: calc(100% - 36px);
  background-color: #d7d7d7;
  grid-row: 5/7;
  grid-column: 1/2;
  border-radius: 36px;
  box-shadow: 0 0 0px 12px #5a5a5a, -36px 0 0px 12px #5a5a5a,
    0 36px 0px 12px #5a5a5a;
  z-index: 8;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #5a5a5a;
  padding: 12px;

  h2 {
    font-size: calc(10vh);
    margin: 0;
  }
}

@media (width < 600px) {
  h1 {
    position: absolute;
    font-size: 40px;
    top: 20px;
  }

  .textBlock {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    z-index: 0;

    .text {
      height: 100%;
    }
  }

  .portfolio {
    .portfolio_box {
      .prof_photo {
        height: 15vh;
        aspect-ratio: 1/1;
        width: auto;
      }
    }
  }

  .textBlock::before,
  .textBlock::after {
    display: none;
  }
}
